section.typo {
  margin-top: 0em;
}
section.viewSec {
  width: 100%;
  margin-top: 10em;
}
section.viewSec .row {
  width: 70%;
  height: auto;
  margin: 6em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.viewSec .row .box {
  width: 40%;
  height: 50em;
  overflow: hidden;
}
section.viewSec .row .box:first-child {
  margin-right: 3em;
}
section.viewSec .row .box img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
section.viewSec .row .box.text {
  font-family: regular;
  color: var(--header);
  padding-right: 20%;
  height: auto;
  /* border: 2px solid #000; */
}

section.viewSec .row .box.text h2 {
  text-transform: uppercase;
  opacity: 0.6;
  font-size: 1.2em;
  margin-bottom: 1em;
  /* margin: 1em 0em; */
}

section.viewSec .row .box.text h3 {
  font-size: 1.3em;
  margin: 1em 0em;
  font-family: Monlight;
}
.slideShow {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--header);
  font-size: 2em;
}
.slideShow h2 {
  font-size: 5em;
  text-transform: uppercase;
  font-family: Monlight;
  animation: scrollText 15s linear infinite;
  animation-play-state: paused;
}
.slideShow.play h2 {
  animation-play-state: running;
}
.slideShow h2:first-child {
  margin-left: -10%;
}
.slideShow h2:last-child {
  margin-right: -10%;
}
@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
